{% extends 'base.html' %}
{% block content %}
      </div>
      <!-- header section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container">
            <h1 class="contact_taital">User Form</h1>
            {% comment %} <form method="get">
                <div class="form-group">
                    <label for="">Value1</label>
                    <input type="text" name="name1" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Value2</label>
                    <input type="text" name="name2" class="form-control">
                </div>
                <div class="pt-2 form-group">
                    <button type="submit" name="submit" class="send_btn">Save</button>
                </div>
                <div class="form-group">
                    <label> Total </label>
                    <input type="text" value="{{ output }}">
                </div>
            </form> {% endcomment %}
            <form method="post" action="{% url 'submitform' %}">
                {% csrf_token %}
                {% comment %} <div class="form-group">
                    <label for="">Value1</label>
                    <input type="text" name="name1" value="{{n1}}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Value2</label>
                    <input type="text" name="name2" value="{{n2}}" class="form-control">
                </div> {% endcomment %}
                {{form}}
                <div class="pt-2 form-group">
                    <button type="submit" name="submit" class="send_btn">Save</button>
                </div>
                <div class="form-group">
                    <label> Total </label>
                    <input type="text" value="{{ output }}">
                </div>
            </form>
        </div>
      </div>
      <!-- contact section end -->
{% endblock %}